* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.btn {
    border-radius: 7px;
    border: 1.5px solid #E55473;
    color: white;
    background: #E55473;
    padding: 17px 35px;
}

.btn:hover {
    background: transparent;
    color: #E55473;
    transition: 0.6s;
}

.btn1 {
    border-radius: 8px;
    border: 1.5px solid #E55473;
    color: white;
    background: #E55473;
    padding: 17px 35px
}

.btn1:hover {
    background: transparent;
    color: #E55473;
    transition: 0.6s;
}

.container {
    width: 85%;
    margin: auto;
}

/* header section */
header {
    padding-top: 20px;
    background-color: rgba(229, 84, 115, 0.10);
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.logo {}

.logo h1 {
    font-weight: 900;
    font-size: 35px;
}

.logo span {}

.navbar {}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin: 0 9px;
}

.navbar ul li a {
    color: black;
}

.buy {}

.buy a {
    /* color: white; */
}



/* banner section */
.banner {
    margin-bottom: 100px;
    background-color: rgba(229, 84, 115, 0.10);

}

.banenr-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    flex-basis: 48%;
}

.banner-text h1 {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 10px;

}

.banner-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 30px;
}

.banner-text a {}

.banner-img {
    text-align: right;
    flex-basis: 48%;
    padding-top: 50px;
}

.banner-img img {
    width: 435px;
}

/* feature section */
.feature {
    margin-bottom: 100px;
}

.title {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.title h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.title p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 30px;
}



.feature-content {
    display: flex;
    justify-content: space-between;

}

.feature-card1 {
    flex-basis: 31%;
    text-align: center;

}

.feature-card2 {
    flex-basis: 31%;
    text-align: center;

}

.feature-card3 {
    flex-basis: 31%;
    text-align: center;

}

.feature-card1-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 86px 17px 0px 10px;
}

.feature-card2-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 74px 17px 0px 10px;
}

.feature-card3-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.feature-card1-img img {
    width: 100%;
}

.feature-card2-img img {
    width: 75%;
}

.feature-card3-img img {
    width: 79%;
}


.feature-card-text p {
    margin-top: 20px;
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
}



/* service section */
.service {
    background-color: rgba(39, 39, 39, 0.05);
    padding: 100px 0;
    border-radius: 5px;
    margin-bottom: 100px;
}

.service-content {
    display: flex;
    justify-content: space-around;

}

.service-item {
    text-align: center;
}

.service-item-img {}

.service-item-img img {
    width: 80px;
}

.service-item-text {}

.service-item-text p {
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 17px;
    font-weight: 600;

}


/* deal section */
.deal {
    margin-bottom: 100px;
    background-color: rgba(229, 84, 115, 0.05);
    ;
    padding: 60px 0;
}

.deal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.deal-text {
    flex-basis: 48%;
}

.deal-text span {
    color: #E55473;
}

.deal-text h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 10px;
}

.deal-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 30px;
}

.deal-text a {}

.deal-img {
    text-align: right;
    flex-basis: 48%;
}

.deal-img img {
    width: 55%;
}

/* instagram section */
.instagram {
    margin-bottom: 100px;
}

.insta-content {
    display: flex;
    justify-content: space-between;
}

.insta-item {
    flex-basis: 23%;
}

.insta-item img {
    max-width: 100%;
}

/* Subscribe section  */
.subscribe {
    border-radius: 8px;
    margin-bottom: 100px;
    padding: 80px;
    background-image: url(./Rectangle\ 9.png);
}

.subscribe-content {
    text-align: center;
}

.subscribe-content form {}

.subscribe-content form input {
    border-radius: 8px;
    padding-left: 20px;
    width: 551px;
    height: 53px;
    margin-right: 10px;
    border: none;
    outline: none;
}

.subscribe-content form button {}

/* contact section */

.contact {
    margin: 50px 0;
}

.contact-container {
    width: 80%;
    margin: auto;
}

.contact-container h2 {
    font-size: 27px;
    font-weight: 800;
}

.info {
    display: flex;
    justify-content: space-between;
}

.contact-us {
    flex-basis: 40%;
}

.contact-us form input {
    text-align: center;
    margin: 30px 0;
    outline: 0;
    display: block;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 19px 100px;
}

.contact-us form {
    margin-top: 20px;

}

.contact-map {
    flex-basis: 50%;
    margin-left: 50px;
}

iframe {
    width: 100%;
}

/* footer section */
footer {
    padding: 80px 0;
    background-color: black;
}

.title1 {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.title1 h1 {
    color: white;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
}

.title1 p {
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 30px;
}

span {
    color: #E55473;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    color: #777;
}